@import"variables";
@import"animation";

.carta-main{
    .carta-container{
        display: flex;
        justify-content: space-between;
        height: auto;
        margin: 0px 18px 18px 18px;
    }
    .main_pregunta{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-family: $tipodeletra;
            font-size: $texth2;
            color: $colorh2;
        }
    }
    .main_svg{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .svg{
            height: 16px;
            fill: $colorfill;
        }
        .main_svg-ocultar{
            .svg-ocultar{
                display: none;
                height: 16px;
                fill: $colorfill;
            }
        }
    }
    .carta-respuesta{
        p{
            font-family: $tipodeletra;
            color: $colop;
        }
    }
}
