$colorfondo:rgb(0, 0, 0);
$colorrespuesta:rgb(171, 163, 163);
$colorcarta:rgb(24, 89, 93);
$colorh1:rgb(252, 246, 246);
$colorh2:rgb(81, 180, 139);
$colorfill:rgb(23, 231, 189);
$texth2:.8rem;
$textrespuesta:.7rem;
$tipodeletra:'Kumbh Sans', sans-serif;
