$colorfondo:linear-gradient(rgb(48, 148, 130) , rgb(51, 118, 105) , rgb(49, 97, 88) , rgb(44, 69, 64) );
$colorfondoparrafo:rgb(65, 184, 162);
$colorp:rgb(143, 139, 139);
$colorcart:rgb(29, 66, 60);
$colorh1:rgb(239, 233, 233);
$fontfamily:'Kumbh Sans', sans-serif;
$fontweigthgrueso:700;
$fontweigthdelgado:400;
$fontsizeh1:1.8rem;
$fontsizeparrafo:1rem;
